#searchBarContainer {
  margin-top: 207.5px;
}

#inputFieldContainer {
  display: flex;
}

#searchTextField {
  height: 30px;
  padding: 5px 10px;
  border: none;
}

#searchTextField {
  border-radius: 25px;
  flex-grow: 100;
}
